# Django settings
SECRET_KEY=my_secret_key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal,0.0.0.0 # Use this for local dev

# PostgreSQL settings
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (cache & celery broker)
REDIS_HOST=redis
# Use up to 16 (0 - 15) default databases https://raw.githubusercontent.com/redis/redis/6.0/redis.conf
REDIS_DEFAULT_DB=0
REDIS_CELERY_DB=1

REDIS_CACHE_LOCATION=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DEFAULT_DB}

# Celery
CELERY_BROKER_URL = redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_CELERY_DB}
CELERY_RESULT_BACKEND = redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_CELERY_DB}

# Spotify
SPOTIFY_CLIENT_ID=spotify-client-id
SPOTIFY_CLIENT_SECRET=spotify-client-secret
