name: Django CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12]

    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'poetry' # caching poetry dependencies
    - name: Install Dependencies
      run: |
        poetry config virtualenvs.create false
        poetry install
        poetry add ruff
        poetry add bandit
    - name: Ruff
      run: |
        poetry run ruff check .
    - name: Bandit
      run: |
        poetry run bandit -r .
    - name: Run Tests
      env:
        SECRET_KEY: "my_secret_key"
        DJANGO_ALLOWED_HOSTS: "*"
        REDIS_HOST: redis
        REDIS_DEFAULT_DB: 0
        REDIS_CELERY_DB: 1
        REDIS_CACHE_LOCATION: redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DEFAULT_DB}
      run: |
        poetry run python manage.py test --settings=django_base.settings.test
